.main {
  background-color: #fff;
  z-index: 100;
  position: fixed;
  top: -100%;
  left: 0;
  width: 90vw;
  height: auto;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  transition: top ease-in-out 0.4s;
  border-radius: 20px;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.5);

  &.open {
    top: 0%;
  }

  @media screen and (min-width: 700px) {
    display: none;
  }

  h1 {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 50px;
    font-weight: bolder;
    line-height: 0.95;
    z-index: 100;
  }  

  a {
    color: #0088ff;
    font-size: 30px;
    font-weight: bold;
    display: grid;
    padding-right: 0;
    margin-right: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    text-decoration: none;
  }
  .selected {
      text-decoration: underline;
  }
}

.linkcontainer {
  width: 100%;
  margin-top: 68px;
}