.Div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 25%;
  min-width: 340px;
  height: auto;
  padding: 20px 0;
  padding-bottom: 20px;
  // padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.16);
  margin-bottom: 80px;
  margin-top: 10px;

  & h2 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 5px;
    padding-bottom: 10px;
    font-weight: 900;
  }

  & h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  // export const Hr = styled.div`
  & hr {
    height: 0;
    width: 99.5%;
    background-color: #0088ff;
    border: #0088ff solid 1.5px;
    margin-top: 5px;
  }

  & :global .cardA {
    padding: 5px 10px;
    color: #000;
    margin: 0 5px;
    font-size: 15px;
    border-radius: 30px;
    border: 1px rgba(0, 136, 255, 0.3) solid;
    text-decoration: none;
    display: inline;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    &:hover {
      border: 1px rgba(0, 136, 255, 0) solid;
      box-shadow: 5px 5px 35px rgba(0, 136, 255, 0.4);
      color: #0088ff;
    }
  }

  & :global .cardbody {
    padding: 35px 30px;
    padding-top: 20px;
    font-size: 16px;
    line-height: 1.6;
  }
}
